.banner {
    background-image: url("https://img.freepik.com/free-photo/top-view-table-full-food_23-2149209253.jpg?t=st=1737953965~exp=1737957565~hmac=3bca61dd9a51e4898a4f130c378b047ae16dfa3d71a0fca81ff09b2b0e5e4626&w=740");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Updated to take up full viewport height */
    position: relative;
  }
  
  .cover {
    width: 100%;
    height: 100%; /* Ensure the cover div takes up the full height */
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fadout {
    /* This class is currently not being used */
  }
  